@use './partials/variables' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

main {
    background-color: rgba(111, 44, 0, 0.594);
}
th {
    text-transform: uppercase;
}
footer {
    background-color: rgb(92, 88, 88);
    padding: 80px 0;
}
